.Todo {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.Todo:nth-child(even) .TodoElement {
   background-color: #9e9eff;
   border-radius: 8px;
}

.Todo:nth-child(even) .TodoElement.Completed {
   background-color: #7bca70;
}

.TodoElement {
   border-radius: 8px;
   padding: 10px;
   cursor: pointer;
   transition: .2s;
   width: 50%;
   list-style: none;
   flex-grow: 1;
   margin: 1px 0;
}

.Completed {
   background-color: #7bca70;
}

.DeleteIcon {
   padding: 10px;
   cursor: pointer;
   transition: .3s;
   transform: scale(1.2);
   pointer-events: fill;
}

.DeleteIcon svg {
   pointer-events: none;
}

.DeleteIcon:hover {
   color: rgb(192, 0, 0);
}

@media (min-width: 1000px) {
   .Todo:nth-child(even) .TodoElement:hover {
      background-color: #7bca70;
   }

   .TodoElement:hover {
      background-color: #7bca70;
   }
}