.Alert {
   width: 100%;
   font-size: 18px;
}

.Error {
   background-color: salmon;
   padding: 10px;
   border-radius: 16px;
}

.Success {
   background-color: rgb(182, 238, 144);
   color: black;
   padding: 10px;
   border-radius: 16px;
}