.groupsList {
   list-style-type: none;
}

.groupsList li {
   width: auto;
   font-size: 18px;
   padding: 10px;
   cursor: pointer;
   transition: .2s
}

li a {
   text-decoration: none;
   color: rgb(51, 51, 51);
}

.groupsList li:hover {
   transform: scale(1.1);
}