.Modal {
   box-sizing: border-box;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ccccff;
   border: 1px solid #ccc;
   width: 50%;
   z-index: 500;
   transition: .3s;
   color: rgb(51, 51, 51);
   border-radius: 16px;
   box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
   padding: 20px;
}

.Modal div {
   margin: 10px auto;
}

.Modal div:last-child {
   margin-top: 30px;
}

.Modal input {
   width: 40%;
}

.Modal form div:first-of-type {
   width: 100%;
   text-align: center;
   font-size: 30px;
   margin-bottom: 15px;
}

@media (max-width: 500px) {
   .Modal {
      width: 90%;
   }

   .Modal input {
      width: 80%;
   }
}