.Button {
   padding: 10px;
   width: 20%;
   border: 1px solid black;
   border-radius: 16px;
   cursor: pointer;
   transition: .2s;
   background: rgb(197, 174, 253);
   display: block;
}

.Button:hover {
   transform: scale(1.05)
}

.Active {
   background: rgb(126, 77, 255);
   color: white;
}

.Disabled {
   pointer-events: none;
   filter: grayscale(100%)
}

@media (max-width: 500px) {
   .Button {
      width: 35%;
   }
}