.Sidedrawer {
   display: none;
}

@media(max-width: 500px) {
   .Sidedrawer {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      transition: .3s;
      height: 100%;
      width: 60vw;
      background-color: rgb(126, 77, 255);
      z-index: 500;
      border-left: 2px solid white;
      overflow: hidden;
      box-sizing: border-box;
   }

   .Sidedrawer ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      padding: 0 5px;
   }

   .Sidedrawer ul li {
      width: 80%;
      margin: 10px auto;
      padding: 5px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 3px 0px;
      background-color: rgb(197, 174, 253);
      color: black;
   }

   .Sidedrawer ul a {
      color: white;
      text-decoration: none;
   }

   .Sidedrawer.Active {
      right: 0;
   }

   .Logo {
      margin: 15px 0;
      font-size: 32px;
   }
}