.Nav {
   width: 100%;
   background-color: rgb(126, 77, 255);
   border-bottom: solid white 2px;
   box-sizing: border-box;
}

.Nav ul {
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0 5%;
}

.Nav ul li {
   height: 100%;
   padding: 15px;
   cursor: pointer;
   transition: .3s;
   color: white;
}

.Nav ul a {
   color: white;
   text-decoration: none;
}

a.Active li {
   background-color: rgb(197, 174, 253);
   text-decoration: none;
   color: black;
}

.Nav ul li:hover {
   background-color: rgb(197, 174, 253);
   color: black;
}