.Input {
   box-sizing: border-box;
   padding: 5px;
}

.Icon {
   cursor: pointer;
   display: inline-block;
   margin: auto;
}

.InputElement {
   padding: 8px;
   font-size: 12px;
   outline: none;
   border: 1px solid #eee;
   box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
   border-radius: 16px;
   background-color: white
}

.Error {
   background-color: salmon;
}